---
import Feature from "./Feature.astro";
---

<div
  class="flex flex-col items-center gap-4 sm:flex-row sm:gap-6 md:justify-center"
>
  <Feature
    title="Title1"
    description="Desc1"
    action="Action1"
    content="Content1"
    footer="Footer1"
  />
  <Feature
    title="Title2"
    description="Desc2"
    action="Action2"
    content="Content2"
    footer="Footer2"
  />
  <Feature
    title="Title3"
    description="Desc3"
    action="Action3"
    content="Content3"
    footer="Footer3"
  />
</div>
