---
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
---

<div class="flex w-full max-w-sm items-center justify-center gap-2">
  <Input type="email" placeholder="Email" />
  <Button type="submit" variant="outline"> Join </Button>
</div>
